body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 20px;
}

#controls,
#mapAndCalc {
    background: white;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-bottom: 20px;
}

#mainCalculation {
    display: flex;
    /* Используем flexbox для расположения элементов в строку */
    flex-wrap: nowrap;
    /* Элементы не будут переноситься на новую строку */
    gap: 15px;
    /* Промежуток между элементами */
}

.styled-dropdown {
    appearance: none;
    /* Убираем стандартный стиль */
    background-size: 12px;
    /* Размер иконки */
    padding-right: 20px;
    /* Отступ для иконки */
    padding: 10px;
    /* Отступ для текста */
    border: 1px solid #ccc;
    /* Граница */
    border-radius: 4px;
    /* Скругление углов */
    display: inline-block;
    /* Изменяем на inline-block */
    min-width: 150px;
    /* Минимальная ширина, если нужно */
}

.form-group {
    display: flex;
    flex-direction: column;
    flex: 1;
    min-width: 25vh;
}

label {
    margin: 0;
    /* Убираем все отступы */
    margin-bottom: 5px;
    /* Отступ между заголовком и инпутом */
    font-weight: bold;
    font-size: 14px;
}

input[type="number"],
select {
    width: 100%;
    /* Задаем ширину 100% */
    padding: 10px;
    /* Отступы внутри инпутов */
    margin-bottom: 10px;
    /* Отступ между элементами */
    border: 1px solid #ccc;
    /* Граница */
    border-radius: 4px;
    /* Скругление углов */
    box-sizing: border-box;
    /* Учитываем отступы и границы в ширине */
    height: 40px;
    /* Задаем одинаковую высоту для всех элементов */
}

button {
    flex: 0 0 auto;
    /* Кнопка не будет растягиваться */
    padding: 10px 15px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #0056b3;
}

input[type="number"]:focus,
select:focus {
    border-color: #007bff;
    outline: none;
}

.button-group {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}

#mapAndCalc {
    display: flex;
    background: white;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-bottom: 20px;
    flex-wrap: nowrap;
    gap: 15px;
}

#map {
    width: 150vh;
    height: 70vh;
    background: #eaeaea;
    border-radius: 4px;
    margin-bottom: 20px;
}

@media (max-width: 600px) {
    .button-group {
        flex-direction: column;
    }
}