* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body,
html {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 8px;
    padding-top: 0px;
    height: 100%;
}

#all {
    display: flex;
}

#mapandControls {
    height: 75%;
    width: 70%;
}

#controls {
    z-index: 2;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
    background: #fff;
}

#dataDropdown.styled-dropdown {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
    background-color: #f9f9f9;
    transition: border-color 0.3s ease;
    width: auto;
    min-width: 200px;
}

#dataDropdown.styled-dropdown:focus {
    border-color: #007bff;
    outline: none;
}

#mainCalculation {
    display: flex;
    overflow: hidden;
    overflow-x: scroll;
    align-items: center;
    gap: 10px;
}

#mainCalculation label,
#controls label {
    font-weight: bold;
    font-size: 14px;
    margin-bottom: 0;
}

#mainCalculation input[type="number"],
#mainCalculation .styled-dropdown {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
    background-color: #f9f9f9;
    transition: border-color 0.3s ease;
    width: auto;
    min-width: 150px;
}

#mainCalculation input[type="number"]:focus,
#mainCalculation .styled-dropdown:focus {
    border-color: #007bff;
    outline: none;
}

#mainCalculation button {
    padding: 8px 15px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#mainCalculation button:hover {
    background-color: #0056b3;
}

#mainCalculation button#show {
    background-color: #28a745;
}

#mainCalculation button#show:hover {
    background-color: #218838;
}

#map {
    overflow: hidden;
    flex: 1;
    height: 80vh;
    width: 100%;
    position: relative;
    border-radius: 5px;
    margin: 0;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.button-group {
    position: absolute;
    top: 0.85%;
    left: 5%;
    background: white;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    z-index: 1000;
}

.button-group button {
    margin: 5px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: #f0f0f0;
    transition: background-color 0.3s;
}

.button-group button.active {
    background-color: #007bff;
    color: white;
}

.button-group2 {
    position: absolute;
    top: 0.85%;
    right: 5%;
    background: white;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    z-index: 1000;
}

.button-group2 button {
    margin: 5px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: #f0f0f0;
    transition: background-color 0.3s;
}

.button-group2 button.active {
    background-color: #007bff;
    color: white;
}


/* 
#zone-menu {
    margin-top: 10px;
    display: none;
}

#zone-menu button {
    width: 100%;
} */

#secondCalculation {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
    background: #fff;
    height: 100%;
    margin-top: 1%;
}

#secondCalculation label {
    font-weight: bold;
    font-size: 14px;
    margin-bottom: 0;
}

#secondCalculation input[type="number"],
#secondCalculation .styled-dropdown {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
    background-color: #f9f9f9;
    transition: border-color 0.3s ease;
    width: 100%;
    box-sizing: border-box;
}

#secondCalculation input[type="number"]:focus,
#secondCalculation .styled-dropdown:focus {
    border-color: #007bff;
    outline: none;
}


/* С этим надо разобраться, а то работает не так, как я хочу */

#secondCalculatson .styled-dropdown {
    width: 100%;
    min-width: 150px;
}

input[type="number"]:invalid+span:after {
    content: '✖';
    padding-left: 5px;
}

input[type="number"]:valid+span:after {
    content: '✓';
    padding-left: 5px;
}

input[type="number"] {
    -moz-appearance: textfield;
    -webkit-appearance: textfield;
    appearance: textfield;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    display: none;
}

input[type='number'] {
    width: 80px;
}